# Node
**/node_modules/

# Local SQLite / Prisma
api/prisma/*.db
api/prisma/*.db-journal
api/prisma/dev.db
api/prisma/dev.db-journal

# Env
**/.env

# macOS
.DS_Store
**/.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Desktop.ini

# Build artifacts
api/dist/
web/dist/
